body {
    margin: 0;
    padding: 0;
    background-color: #CDFFDC;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #006400;
    padding: 40px;
    border-radius: 12px;
    width: 70%;
    height: 70%;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    background-color: #fff;
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 220px;
    height: auto;
}

form input[type="submit"] {
    background-color: #00A83C;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 12px;
    width: 70%;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    background-color: #00c749;
    transform: scale(1.03);
}


@media (max-width: 850px) {
    .container {
        flex-direction: column-reverse;
        height: auto;
        width: 90%;
        padding: 10px;
    }

    .logo,
    form {
        width: 100%;
    }

    .logo img {
        width: 180px;
    }
}