/* ============================================
   ESTILOS GLOBAIS E LAYOUT DEFAULT
============================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: #CDFFDC;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #006400;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 900px;
    height: auto;
    min-height: 500px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container img {
    width: 100px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.btn-enviar {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    background-color: #00a000;
    border: none;
    color: #fff;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-enviar:hover {
    background-color: #00c000;
    transform: scale(1.02);
}

.container a {
    color: #CDFFDC;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 14px;
}

.container a:hover {
    text-decoration: underline;
}

.foto {
    width: 200px;
    height: 200px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

/* MENSAGENS GLOBAIS  */
.msg-erro, .msg-sucesso {
    padding: 12px;
    margin: 0 0 15px 0;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
    animation: fadeIn .3s ease-in-out;
}

.msg-erro {
    background: #ff4d4d;
    color: #fff;
    border-left: 6px solid #b30000;
}

.msg-sucesso {
    background: rgb(0, 81, 255);
    color: #fff;
    border-left: 6px solid #155724;
}