.topo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    text-align: center;
}

.topo img {
    transition: transform .2s;
}

.topo img:hover {
    transform: scale(1.05);
}

.informacao {
    font-size: 1.3rem;
    text-align: center;
    line-height: 2rem;
}

.botoes {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.botoes a {
    text-decoration: none;
    padding: 12px 34px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

/* Botão verde */
.botoes a:nth-child(1) {
    background-color: #00b32d;
}
.botoes a:nth-child(1):hover {
    background-color: #009626;
}

/* Botão amarelo */
.botoes a:nth-child(2) {
    background-color: #ffd000;
    color: #000;
}
.botoes a:nth-child(2):hover {
    background-color: #e0ba00;
}

/* Botão azul claro */
.botoes a:nth-child(3) {
    background-color: #4db8ff;
}
.botoes a:nth-child(3):hover {
    background-color: #33a6f7;
}