/* 
ESTILO GLOBAIS

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MENSAGENS GLOBAIS  */
.msg-erro, .msg-sucesso {
    padding: 12px;
    margin: 0 0 15px 0;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
    animation: fadeIn .3s ease-in-out;
}

.msg-erro {
    background: #ff4d4d;
    color: #fff;
    border-left: 6px solid #b30000;
}

.msg-sucesso {
    background: rgb(0, 81, 255);
    color: #fff;
    border-left: 6px solid #155724;
}

/* 
=================================================================================
*/